.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.gallery-item {
  list-style-type: none;
  /* width: calc((100% - 2 * 24px) / 3); */
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.gallery-image:hover {
  transform: scale(1.1);
}

.sl-caption {
  text-align: center;
}

.sl-wrapper .sl-close,
.sl-next,
.sl-prev,
.sl-counter {
  color: white !important;
}
